{% extends 'layout/base_bootstrap.html' %}


{% block titulo %}
    Econoclima
{% endblock titulo %}


{% block content %}
    <h1>Impactos en la agricultura</h1>
    
        <p style="text-align: justify;"><br><br>El cambio climático está teniendo efectos perjudiciales en el sector agropecuario, ocasionando pérdidas económicas de gran 
        magnitud. Los agricultores y ganaderos se enfrentan a desafíos cada vez más difíciles para mantener la producción y la rentabilidad de 
        sus actividades, a medida que los eventos climáticos extremos se vuelven más frecuentes e intensos. <br><br>

        La agricultura, como uno de los pilares fundamentales de nuestra economía, se ve directamente afectada por los cambios en los patrones 
        climáticos, como las inundaciones causadas por periodos prolongados de lluvia, las sequías, las temperaturas extremas y la creciente 
        imprevisibilidad de los eventos climáticos. <br><br>

        Según los registros del Ministerio de Medio Ambiente y Recursos Naturales, entre los años 1926 y 2015 se registraron 19 eventos de La 
        Niña y 30 eventos de El Niño. Sin embargo, en 2018, El Salvador experimentó una de las sequías más devastadoras de los últimos cien 
        años, con una duración de más de 40 días en algunas áreas del corredor seco. Este registro es un claro indicador del impacto del cambio 
        climático en el país y sus consecuencias para la agricultura y la vida de las personas. <br><br>

        Los efectos de esta sequía se reflejan en la disminución de la producción de granos básicos, como se muestra en la siguiente tabla: <br>
        </p>

        <table class="table" style="width: 25%" align="center">
            <tr class="tr" align="center"><th>Ciclo</th><th>Perdidas en quintales</th></tr>
            <tr align="center"><td class="td">2016 - 2017</td><td>10.79 millones</td></tr>
            <tr align="center"><td>2017 - 2018</td><td>1.28 millones</td></tr>
            <tr align="center"><td>2018 - 2019</td><td>580,000 millones</td></tr>
            <tr align="center"><td>2019 - 2020</td><td>441,430 millones</td></tr>
            <tr align="center"><td>2020 - 2021</td><td>218,847 millones</td></tr>
        </table><br>
        
        <p style="text-align: justify;">Cada año, los agricultores se enfrentan al riesgo de sequías en los meses de julio y agosto, seguidas de fuertes lluvias al final 
        del invierno, de octubre a noviembre. Esto ha provocado, por ejemplo, que el sector de cereales haya perdido más de 12.4 millones 
        de quintales de granos básicos entre 2016 y 2021 debido a las variaciones climáticas. Esta cantidad sería suficiente para alimentar 
        a la mitad de la población salvadoreña durante seis meses, según la Cámara Salvadoreña de Pequeños y Medianos Productores Agropecuarios (Campo).<br><br>

        El Banco Interamericano de Desarrollo (BID) estima que el cambio climático le ha costado a El Salvador una pérdida considerable en el 
        sector agropecuario. Entre 2016 y 2021, el sector de cereales sufrió pérdidas significativas debido a las variaciones climáticas, lo 
        que ha impactado negativamente la seguridad alimentaria y la economía del país. <br><br>

        En resumen, el cambio climático está causando pérdidas económicas considerables en el sector agropecuario, afectando la producción de granos 
        básicos y generando desafíos para los agricultores y ganaderos. Estas consecuencias se reflejan en la disminución de la producción y en la 
        necesidad de destinar recursos considerablemente altos para hacer frente a los efectos del cambio climático en El Salvador.</p><br>
        
        <style>
            .table, tr, td{
                border-color: rgb(72, 25, 241);
                border-collapse: separate;
            }
        </style>

{% endblock content %}