{% extends 'layout/base_bootstrap.html' %}


{% block titulo %}
    Econoclima
{% endblock titulo %}


{% block content %}
    <h1>Impactos en la infraestructura</h1>
    
        <p style="text-align: justify;"><br><br>El cambio climático está teniendo un impacto significativo en la infraestructura de El Salvador, lo 
            que a su vez afecta negativamente a la economía del país. Los fenómenos climáticos extremos, como tormentas más intensas, inundaciones y 
            sequías prolongadas, están deteriorando la infraestructura, incluyendo carreteras, puentes, sistemas de agua y energía, y viviendas. Esto 
            conlleva costos significativos en términos de reparación y reconstrucción, así como interrupciones en la producción y distribución de 
            bienes y servicios. <br><br>

            La degradación de la infraestructura también tiene repercusiones en otros sectores económicos. Por ejemplo, la interrupción de las 
            carreteras y los sistemas de transporte dificulta el acceso a los mercados y la entrega de productos, lo cual afecta la productividad y 
            la competitividad de las empresas. Además, los eventos climáticos extremos pueden dañar las instalaciones de producción y provocar 
            pérdidas en la agricultura, la industria y el sector energético. <br><br>

            Estos impactos en la infraestructura y la economía se traducen en una disminución del crecimiento económico y un aumento en la 
            vulnerabilidad socioeconómica. La necesidad de destinar recursos a la reconstrucción y reparación de la infraestructura afecta la 
            capacidad del gobierno para invertir en otros sectores, como educación, salud y desarrollo social. Además, los eventos climáticos extremos 
            pueden generar pérdida de empleos y reducción de los ingresos de las comunidades afectadas. <br><br>

            Un ejemplo notable de esto es la tormenta tropical Amanda. Esta tormenta golpeó El Salvador el 31 de mayo de 2020, causando fuertes 
            lluvias, inundaciones y deslizamientos de tierra. Se estima que en solo 24 horas llovió el 10% de lo que suele llover en un año en el 
            país, lo que resultó en la muerte de al menos 14 personas y puso en riesgo a miles de familias. Hubo más de 30 deslizamientos de tierra y 
            más de 20 inundaciones en diferentes departamentos, además de ríos desbordados que provocaron el colapso de viviendas y daños materiales. <br><br>
        
        
            En resumen, el cambio climático está afectando la infraestructura de El Salvador a través de fenómenos climáticos extremos, lo que genera 
            costos significativos en reparación y reconstrucción. Esto, a su vez, tiene un impacto negativo en la economía al interrumpir la producción y 
            distribución de bienes y servicios, disminuir la competitividad empresarial y aumentar la vulnerabilidad socioeconómica. Para mitigar estos 
            impactos, es fundamental fortalecer la resistencia de la infraestructura y promover prácticas de desarrollo sostenible que reduzcan la 
            vulnerabilidad al cambio climático.</p><br>

{% endblock content %}