{% extends 'layout/base_bootstrap.html' %}


{% block titulo %}
    Econoclima
{% endblock titulo %}


{% block content %}
    <br><h1 style="text-align: left;">Recomendaciones acerca del cambio climático</h1><br>

    <style>
      /* Estilos CSS */  
      h1 {
        color: #333; 
        text-align: center;
      }
  
      h2 {
        color: #333;
        margin-bottom: 10px;
      }
  
      p {
        color: #333;
      }
  
      ul {
        list-style-type: none;
        padding-left: 20px;
      }
  
      li {
        margin-bottom: 8px;
      }
  
      .container {
        background-color: #fff;
        border-radius: 4px;
        padding: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      }
    </style>
  
    <div class="container">  
      <p style = "text-align: justify;">El cambio climático es un desafío global que requiere el esfuerzo de todos para mitigar sus efectos y proteger nuestro planeta. Como individuos, nuestras acciones pueden marcar la diferencia. Aquí te presentamos una lista de recomendaciones prácticas y sostenibles que puedes implementar en tu vida diaria para contribuir a la lucha contra el cambio climático.</p>
  
      <h2>1. Ahorra energía en tu hogar:</h2>
      <ul>
        <li>Utiliza bombillas LED de bajo consumo.</li>
        <li>Apaga los electrodomésticos cuando no los estés utilizando.</li>
        <li>Aprovecha al máximo la luz natural y ventila tu hogar de manera natural en lugar de utilizar aire acondicionado o calefacción cuando sea posible.</li>
      </ul>
  
      <h2>2. Reduce, reutiliza y recicla:</h2>
      <ul>
        <li>Reduce el consumo de productos desechables.</li>
        <li>Reutiliza envases y bolsas de plástico.</li>
        <li>Separa y recicla correctamente los residuos, siguiendo las pautas locales.</li>
      </ul>
  
      <h2>3. Cambia tu forma de transporte:</h2>
      <ul>
        <li>Opta por medios de transporte sostenibles como caminar, andar en bicicleta o utilizar el transporte público siempre que sea posible.</li>
        <li>Si necesitas utilizar un vehículo, considera la posibilidad de compartir viajes o adquirir un automóvil eléctrico.</li>
      </ul>
  
      <h2>4. Consume de manera responsable:</h2>
      <ul>
        <li>Elige productos locales y de temporada para reducir la huella de carbono asociada con el transporte de alimentos.</li>
        <li>Prioriza alimentos de origen vegetal y reduce el consumo de carne y lácteos, ya que la producción ganadera es una fuente significativa de emisiones de gases de efecto invernadero.</li>
      </ul>
  
      <h2>5. Ahorra agua:</h2>
      <ul>
        <li>Repara fugas y goteos en grifos y tuberías.</li>
        <li>Utiliza métodos de riego eficientes, como el riego por goteo.</li>
        <li>Limita el tiempo en la ducha y cierra el grifo mientras te cepillas los dientes o te enjabonas las manos.</li>
      </ul>
  
      <h2>6. Planta árboles y cuida de la naturaleza:</h2>
      <ul>
        <li>Participa en programas de reforestación o siembra árboles en tu comunidad.</li>
        <li>Fomenta la biodiversidad en tu jardín, utilizando plantas autóctonas y evitando el uso de pesticidas y herbicidas dañinos.</li>
      </ul>
  
      <h2>7. Educa y difunde:</h2>
      <ul>
        <li>Aprende más sobre el cambio climático y comparte tus conocimientos con amigos, familiares y comunidad.</li>
        <li>Participa en eventos y organizaciones locales que promuevan la conciencia ambiental.</li>
      </ul> <br>
  
      <p style = "text-align: justify;">Cada pequeña acción cuenta en la lucha contra el cambio climático. Al implementar estas recomendaciones en nuestra vida diaria, estaremos contribuyendo a preservar el medio ambiente y a crear un futuro más sostenible para las generaciones venideras. Recuerda que todos podemos marcar la diferencia y juntos podemos construir un mundo más resiliente y verde.</p>
    </div>

{% endblock content %}