{% extends 'layout/base_bootstrap.html' %}


{% block titulo %}
    Econoclima
{% endblock titulo %}


{% block content %}
    <br><h1>Recursos bibliográficos</h1><br>

    <style>
        .citation {
          font-style: italic;
          margin-bottom: 10px;
        }
    
        .title {
          font-weight: bold;
        }
    
        .date {
          font-size: 0.9em;
          color: gray;
        }
    
        .website {
          color: blue;
          text-decoration: none;
        }
      </style>

      <div class="citation">
        <span class="title">Latina</span>. (2014, October 28). El Salvador: efectos del cambio climático sobre la agricultura. Retrieved June 2, 2023, from <a class="website" href="https://www.cepal.org/es/publicaciones/25919-salvador-efectos-cambio-climatico-la-agricultura">Cepal.org</a> website: <a class="website" href="https://www.cepal.org/es/publicaciones/25919-salvador-efectos-cambio-climatico-la-agricultura">https://www.cepal.org/es/publicaciones/25919-salvador-efectos-cambio-climatico-la-agricultura</a> <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">El Salvador acelera acciones climáticas basadas en la naturaleza | Programa De Las Naciones Unidas Para El Desarrollo</span>. (2021). Retrieved June 2, 2023, from <a class="website" href="https://www.undp.org/es/el-salvador/noticias/el-salvador-acelera-acciones-climaticas-basadas-en-la-naturaleza">UNDP website</a>: <a class="website" href="https://www.undp.org/es/el-salvador/noticias/el-salvador-acelera-acciones-climaticas-basadas-en-la-naturaleza">https://www.undp.org/es/el-salvador/noticias/el-salvador-acelera-acciones-climaticas-basadas-en-la-naturaleza</a>  <br> <br>
      </div>
    
      <div class="citation">
        Aplicación de mecanismos económicos y financieros a la gestión del agua | GWP Centromaérica. Retrieved June 2, 2023, from <a class="website" href="https://www.gwp.org/globalassets/global/gwp-cam_files/mecanismos_financieros.pdf">https://www.gwp.org/globalassets/global/gwp-cam_files/mecanismos_financieros.pdf</a> <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">Deutsche Welle</span> (2021). El Salvador: la lucha contra el cambio climático en la vida cotidiana | DW | 23.11.2021. Retrieved June 2, 2023, from <a class="website" href="https://www.dw.com/es/el-salvador-la-lucha-contra-el-cambio-clim%C3%A1tico-en-la-vida-cotidiana/a-59907926">DW.COM website</a>: <a class="website" href="https://www.dw.com/es/el-salvador-la-lucha-contra-el-cambio-clim%C3%A1tico-en-la-vida-cotidiana/a-59907926">https://www.dw.com/es/el-salvador-la-lucha-contra-el-cambio-clim%C3%A1tico-en-la-vida-cotidiana/a-59907926</a>  <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">La Prensa Gráfica</span>. (2014, December 5). El Salvador perdió $900 millones por desastres - La Prensa Gráfica. Retrieved June 2, 2023, from <a class="website" href="https://www.laprensagrafica.com/economia/El-Salvador-perdio-900-millones-por-desastres-20141205-0052.html">La Prensa Gráfica website</a>: <a class="website" href="https://www.laprensagrafica.com/economia/El-Salvador-perdio-900-millones-por-desastres-20141205-0052.html">https://www.laprensagrafica.com/economia/El-Salvador-perdio-900-millones-por-desastres-20141205-0052.html</a>  <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">Diario El Mundo</span>. (2022, August 9). El cambio climático y la agricultura salvadoreña. Retrieved June 2, 2023, from <a class="website" href="https://diario.elmundo.sv/editorial/el-cambio-climatico-y-la-agricultura-salvadorena">Diario El Mundo website</a>: <a class="website" href="https://diario.elmundo.sv/editorial/el-cambio-climatico-y-la-agricultura-salvadorena">https://diario.elmundo.sv/editorial/el-cambio-climatico-y-la-agricultura-salvadorena</a>  <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">Uveli Alemán</span>. (2022, August 8). Productores salvadoreños en guerra contra el cambio climático. Retrieved June 2, 2023, from <a class="website" href="https://diario.elmundo.sv/economia/productores-salvorenos-en-guerra-contra-el-cambio-climatico">Diario El Mundo website</a>: <a class="website" href="https://diario.elmundo.sv/economia/productores-salvorenos-en-guerra-contra-el-cambio-climatico">https://diario.elmundo.sv/economia/productores-salvorenos-en-guerra-contra-el-cambio-climatico</a>  <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">MAG (MAG, 2023)</span>. Retrieved June 2, 2023, from <a class="website" href="https://www.mag.gob.sv/wp-content/uploads/2021/09/INS-35-2021.pdf">https://www.mag.gob.sv/wp-content/uploads/2021/09/INS-35-2021.pdf</a>  <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">Huelga por el Clima: Save the Children alerta de que 4 de cada 5 muertes o enfermedades atribuibles al cambio climático las sufren niños y niñas</span>. (2019, September 27). Retrieved June 3, 2023, from <a class="website" href="https://www.savethechildren.es/notasprensa/huelga-por-el-clima-save-children-alerta-de-que-4-de-cada-5-muertes-o-enfermedades">Save the Children website</a>: <a class="website" href="https://www.savethechildren.es/notasprensa/huelga-por-el-clima-save-children-alerta-de-que-4-de-cada-5-muertes-o-enfermedades">https://www.savethechildren.es/notasprensa/huelga-por-el-clima-save-children-alerta-de-que-4-de-cada-5-muertes-o-enfermedades</a>  <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">World</span>. (2021, October 30). Cambio climático y salud. Retrieved June 3, 2023, from <a class="website" href="https://www.who.int/es/news-room/fact-sheets/detail/climate-change-and-health">Who.int website</a>: <a class="website" href="https://www.who.int/es/news-room/fact-sheets/detail/climate-change-and-health">https://www.who.int/es/news-room/fact-sheets/detail/climate-change-and-health</a>  <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">Portal de Transparencia - El Salvador</span>. (2013). Retrieved June 3, 2023, from <a class="website" href="https://www.transparencia.gob.sv/institutions/minsal/documents/presupuesto-actual">Transparencia.gob.sv website</a>: <a class="website" href="https://www.transparencia.gob.sv/institutions/minsal/documents/presupuesto-actual">https://www.transparencia.gob.sv/institutions/minsal/documents/presupuesto-actual</a>  <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">Unidad del Programa de Tuberculosis y Enfermedades Respiratorias</span>. (2019). Retrieved June 3, 2023, from <a class="website" href="https://w5.salud.gob.sv/unidad-del-programa-de-tuberculosis-y-enfermedades-respiratorias">MINSAL website</a>: <a class="website" href="https://w5.salud.gob.sv/unidad-del-programa-de-tuberculosis-y-enfermedades-respiratorias">https://w5.salud.gob.sv/unidad-del-programa-de-tuberculosis-y-enfermedades-respiratorias</a>  <br> <br>
      </div>
    
      <div class="citation">
        <span class="title">Acción por el Clima | Transformar el turismo para actuar por el clima</span>. (2019). Retrieved June 3, 2023, from <a class="website" href="https://www.unwto.org/es/desarrollo-sostenible/accion-por-el-clima">Unwto.org website</a>: <a class="website" href="https://www.unwto.org/es/desarrollo-sostenible/accion-por-el-clima">https://www.unwto.org/es/desarrollo-sostenible/accion-por-el-clima</a>  <br> <br>
      </div>

{% endblock content %}