{% extends 'layout/base_bootstrap.html' %}


{% block titulo %}
    Econoclima
{% endblock titulo %}


{% block content %}
    <h1>Impactos en la salud</h1>
    
        <p style="text-align: justify;"><br><br>El cambio climático está teniendo un impacto significativo en la salud de las personas en múltiples 
        formas. El aumento de fenómenos meteorológicos extremos, como olas de calor, tormentas e inundaciones, está causando muertes y enfermedades. 
        Además, el cambio climático está afectando los sistemas alimentarios y contribuyendo al incremento de enfermedades transmitidas por 
        alimentos, agua y vectores, así como problemas de salud mental. También debemos tener en cuenta que el cambio climático está erosionando los 
        determinantes sociales que promueven una buena salud, como los medios de subsistencia, la igualdad, el acceso a la atención médica y las 
        estructuras de apoyo social. <br><br>

        Estos riesgos para la salud relacionados con el clima afectan de manera desproporcionada a las personas más vulnerables y 
        desfavorecidas, como mujeres, niños, minorías étnicas, comunidades pobres, migrantes o desplazados, personas de edad avanzada y aquellos 
        con problemas de salud subyacentes, como se muestra en la siguiente tabla de impactos en la niñez debido al cambio climático: <br><br>
        </p>

        <table class="table" style="width: 60%" align="center">
            <tr class="tr" align="center"><th>Fenómeno climático</th><th>Impacto directo en la infancia</th></tr>
            <tr align="center"><td class="td">Incremento temperaturas medias</td><td>Mayor prevalencia de malaria y diarrea</td></tr>
            <tr align="center"><td>Temperaturas extremas</td><td>Incremento riesgo mortalidad y bajo peso al nacer.</td></tr>
            <tr align="center"><td>Huracanes, tormentas tropicales y ciclones</td><td>Agua potable contaminada, mayor riesgo de enfermedades infecciosas.</td></tr>
            <tr align="center"><td>Sequias</td><td>Desnutrición/malnutrición</td></tr>
            <tr align="center"><td>Polución ambiental</td><td>Retraso en el crecimiento intrauterino, síndrome de muerte temprana</td></tr>
            <tr align="center"><td>Inundaciones</td><td>Proliferación de enfermades como el dengue</td></tr>
        </table><br>
        <p style="font-size: x-small; text-align: center;">Cita: ("Huelga Por El Clima: Save the Children Alerta de Que 4 de Cada 5 Muertes O Enfermedades Atribuibles al Cambio Climático Las Sufren Niños Y Niñas," 2019)</p><br><br>
        <p style="text-align: justify;">Cada uno de los puntos mencionados anteriormente supone una carga adicional para el sistema de salud y, por lo tanto, implica un mayor gasto para tratar estas 
        enfermedades y afecciones derivadas del cambio climático.<br><br>

        Aunque es difícil determinar con precisión la magnitud y el alcance de muchos de estos riesgos, no se puede negar que el cambio climático tiene un impacto en la salud humana. 
        Sin embargo, los avances científicos nos permiten cada vez más vincular el calentamiento causado por el ser humano con un aumento en enfermedades y 
        mortalidad, y comprender mejor los riesgos y la magnitud de estas amenazas para la salud. <br><br>

        En el corto y mediano plazo, los efectos del cambio climático en la salud dependerán principalmente de la vulnerabilidad de las poblaciones, su capacidad para 
        enfrentar el ritmo actual del cambio climático y la rapidez con la que se adapten. A largo plazo, los efectos dependerán cada vez más de las medidas 
        transformadoras que se tomen ahora para reducir las emisiones y evitar alcanzar umbrales de temperatura peligrosos y puntos de inflexión irreversibles. <br><br>

        En conclusión, el cambio climático no solo tiene repercusiones directas en la salud humana, sino que también afecta de manera interconectada otros aspectos 
        esenciales de nuestras vidas. El deterioro del medio ambiente y los recursos naturales, como el agua y los ecosistemas, puede provocar escasez de 
        alimentos, desplazamiento de comunidades enteras y aumento de conflictos. Estos impactos adicionales generan un círculo vicioso que agrava aún más los 
        riesgos para la salud y la calidad de vida de las personas.<br><br>

        Por lo tanto, es de vital importancia abordar el cambio climático como una crisis multifacética que requiere acciones coordinadas en diferentes niveles, desde 
        políticas globales hasta intervenciones locales. Es necesario tomar medidas concretas para reducir las emisiones de gases de efecto invernadero, promover 
        la sostenibilidad ambiental, desarrollar sistemas alimentarios resilientes y fomentar la equidad social. Solo mediante esfuerzos conjuntos y decisiones 
        informadas podremos proteger la salud de las generaciones presentes y futuras, asegurando un futuro sostenible y saludable para todos.</p><br>
        
        <style>
            .table, tr, td{
                border-color: rgb(72, 25, 241);
                border-collapse: separate;
            }
        </style>

{% endblock content %}