{% extends 'layout/base_bootstrap.html' %}


{% block titulo %}
    Econoclima
{% endblock titulo %}


{% block content %}
    <h1>Impactos en el turismo</h1>
    
        <p style="text-align: justify;"><br><br>El cambio climático está afectando de manera significativa la industria del turismo en El Salvador, 
        lo que a su vez tiene un impacto en la economía del país. Para comprender la importancia del turismo en nuestra nación, basta con echar 
        un vistazo a la siguiente tabla que muestra el flujo masivo de turistas que recibimos. <br><br>

        La agricultura, como uno de los pilares fundamentales de nuestra economía, se ve directamente afectada por los cambios en los patrones 
        climáticos, como las inundaciones causadas por periodos prolongados de lluvia, las sequías, las temperaturas extremas y la creciente 
        imprevisibilidad de los eventos climáticos. <br><br>

        Según los registros del Ministerio de Medio Ambiente y Recursos Naturales, entre los años 1926 y 2015 se registraron 19 eventos de La 
        Niña y 30 eventos de El Niño. Sin embargo, en 2018, El Salvador experimentó una de las sequías más devastadoras de los últimos cien 
        años, con una duración de más de 40 días en algunas áreas del corredor seco. Este registro es un claro indicador del impacto del cambio 
        climático en el país y sus consecuencias para la agricultura y la vida de las personas. <br><br>

        Los efectos de esta sequía se reflejan en la disminución de la producción de granos básicos, como se muestra en la siguiente tabla: <br>
        </p>

        <table class="table" style="width: 25%" align="center">
            <tr class="tr" align="center"><th>Año</th><th>Turistas recibidos</th><th>Ingresos percibidos</th></tr>
            <tr align="center"><td class="td">2018</td><td>2.5 millones</td><td>$1,532 millones</td></tr>
            <tr align="center"><td>2019</td><td>2.6 millones</td><td>$1,777 millones</td></tr>
            <tr align="center"><td>2020</td><td>690,000</td><td>$650.57 millones</td></tr>
            <tr align="center"><td>2021</td><td>1.4 millones</td><td>$1,400 millones</td></tr>
            <tr align="center"><td>2022</td><td>2.5 millones</td><td>$1,600 millones</td></tr>
        </table><br>
        
        <p style="text-align: justify;">Las alteraciones en los patrones climáticos están provocando fenómenos meteorológicos extremos, como tormentas 
        más intensas o sequías prolongadas. Estos eventos impactan negativamente en la infraestructura turística, las playas, los ecosistemas 
        naturales y los recursos culturales del país. Como resultado, los destinos turísticos pierden atractivo, se reduce la llegada de turistas 
        y, en última instancia, se afectan los ingresos y empleos relacionados con el turismo.<br><br>

        El sector turístico es particularmente vulnerable al cambio climático y, al mismo tiempo, contribuye a la emisión de gases de efecto 
        invernadero. Es importante señalar que la pandemia de COVID-19 ha llevado a una reducción del 7% en las emisiones globales de gases de 
        efecto invernadero en 2022. Esta cifra nos brinda una referencia tangible de la magnitud que representa la movilidad. <br><br>

        Asimismo, el cambio climático puede provocar cambios en los patrones de demanda de los turistas, ya que pueden preferir destinos más 
        seguros o adaptarse a las nuevas condiciones climáticas. Esto implica la necesidad de adaptar la oferta turística y diversificar las 
        actividades y servicios disponibles.<br><br>

        En términos económicos, el turismo representa una fuente importante de ingresos y empleo en El Salvador. La disminución en la llegada de 
        turistas y la reducción de la actividad turística tienen un impacto directo en los ingresos generados por el sector, así como en los empleos 
        relacionados, como los servicios de alojamiento, restaurantes, guías turísticos y artesanos. Además, la caída en el turismo también afecta 
        indirectamente a otros sectores de la economía, como el comercio, el transporte y la agricultura, que dependen de la demanda generada por los 
        visitantes. <br><br> 
            
        En resumen, el cambio climático está afectando el turismo en El Salvador al alterar los recursos naturales y las condiciones climáticas, lo 
        que disminuye el atractivo de los destinos turísticos y reduce el flujo de turistas. Dando como resultado un impacto negativo en la economía 
        del país. Para mitigar estos impactos, es crucial adoptar medidas de adaptación al cambio climático, diversificar la oferta turística y promover             prácticas sostenibles en el sector. </p><br> 
        
        <style>
            .table, tr, td{
                border-color: rgb(72, 25, 241);
                border-collapse: separate;
            }
        </style>

{% endblock content %}