{% extends 'layout/base_bootstrap.html' %}


{% block titulo %}
    Datos
{% endblock titulo %}


{% block content %}
    <h1>Datos</h1>
    <table class="table table-striped table-hover">
        <thead>
            <tr><th>ID</th><th>NAME</th><th>USERNAME</th><th>EMAIL</th><th>PHONE</th></tr>
        </thead>
        <tbody>
            
            {% for datos in info %}
                <tr><td>{{ datos.id }}</td><td>{{ datos.name }}</td><td>{{ datos.username }}</td><td>{{ datos.email }}</td><td>{{ datos.phone }}</td></tr>
            {% endfor %}
            
        </tbody>
    </table>
{% endblock content %}